@model TransactionViewModel

<form method="post" asp-controller="Transaction">

    <div class="row">
        <div class="col">
            <label>#From account</label>
            <input class="form-control" asp-for="@Model.Transfer.TransferFrom"placeholder="Enter account number..">
        </div>
        <div class="col">
            <label>#To account</label>
            <input class="form-control" asp-for="@Model.Transfer.TransferTo"placeholder="Enter account number..">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>Amount</label>
            <input class="form-control" asp-for="@Model.Transfer.Amount" placeholder="Enter amount..">
        </div>
        <div class="col">
            <label>-</label>
            <button type="submit" class="btn btn-primary form-control" asp-controller="Transfer" asp-action="Transfer">Transfer</button>
        </div>
    </div>
</form>
@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["Message"]
    </div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        <strong>Error!</strong> @TempData["Error"]
    </div>
}